body {
    background-color: #fffaf4;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.videoInsert {
    width: 50%; 
    height: auto; 
    overflow: hidden;
    margin: auto 0;
}